node_modules
dist
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
dist-ssr
*.local
mise.local.toml
.figma
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
